<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/bookstore/submit" method="get">
        书名<input type="text" name="title" value="{{ obj.title }}" disabled="true"><br>
        出版社<input type="text" name="pub" value="{{ obj.pub }}" disabled="true"><br>
        价格<input type="text" name="price" value="{{ obj.price }}"><br>
        市场价<input type="text" name="market_price" value="{{ obj.market_price }}"><br>
        <input type="hidden" name="id" value="{{ obj.id }}">
        <input type="submit" value="提交">
    </form>
</body>
</html>